# Copiar a .env y configurar

# Security
SECRET_KEY=change_me_in_production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Database
DATABASE_URL=postgresql+asyncpg://user:pass@localhost:5432/usipipo

# Application
APP_ENV=development
DEBUG=true
API_PREFIX=/api/v1
